<article class="card size-{{ size }}" id="{{ item.id }}">
    <div class="wrapper-img">

        {% if item.img %}
        <picture>
            <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ item.img.id }}?format=avif">
            <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ item.img.id }}?format=webp">
            <img class="product-img" loading="lazy" src="https://fdnd-agency.directus.app/assets/{{ item.img.id }}" width="150" height="150" alt="{{ item.name }}">
        </picture>
        {% else %}
        <picture>
            <source type="image/avif" srcset="/assets/landscape-placeholder-svgrepo-com.avif">
            <source type="image/webp" srcset="/assets/landscape-placeholder-svgrepo-com.webp">
            <img class="product-img" src="/assets/landscape-placeholder-svgrepo-com.svg" width="150" height="150" alt="geen afbeelding gevonden">
        </picture>
        {% endif %}


        <form action="/{{ item.id }}" method="post" data-enhanced="form-{{ item.id }}">
            <input hidden type="text" name="milledoni_products_id" value="{{ item.id }}" />
            <input hidden type="text" name="milledoni_users_id" value="9" />
            {% if item.is_saved %}
            <input hidden type="text" name="liked_status" value="saved" />
            <button type="submit" class="save-favourite-btn is-saved">
                {% else %}
                <input hidden type="text" name="liked_status" value="" />
                <button type="submit" class="save-favourite-btn">
                    {%endif%}
                    {% comment %} Zo kan je svgs inladen: {% endcomment %}
                    <span class="saved">
                        {% render 'svgs/saved.svg' %}
                    </span>
                    <span class="not-saved">
                        {% render 'svgs/notsaved.svg' %}
                    </span>
                </button>
        </form>


    </div>
    <h3 class="product-name">
        <a class="slug" href="/cadeau/{{ item.slug | url_encode }}">{{ item.name }}</a>
    </h3>
    <div class="whapper-spotter-gived-info">
        <div class="spotter-info">
            <picture>
                <source type="image/webp" srcset="/assets/persoons.webp">
                <img class="saved-spotters-img" src="/assets/persoons.svg" width="60" height="40" alt="spotters">
            </picture>
            <p class="product-saved">+30 saved</p>
        </div>
        <div class="spotter-info">
           <picture>
                <source type="image/avif" srcset="/assets/cadeau.avif">
                <source type="image/webp" srcset="/assets/cadeau.webp">
                <img class="gived-cadeau-img" src="/assets/cadeau.svg" width="40" height="40" alt="cadeau">
            </picture>
            <p class="product-gived">+4 gived</p>
        </div>
    </div>
</article>