
<article class="card size-{{ size }}" id="{{ item.id }}">
    <div class="wrapper-img">
        <img class="product-img" src="{{ item.image }}" width="150" height="130" alt="{{ item.name }}">

        <form action="/{{ item.id }}" method="post" data-enhanced="form-{{ item.id }}">
        <input hidden type="text" name="milledoni_products_id" value="{{ item.id }}" />
        <input hidden type="text" name="milledoni_users_id" value="9" />
        {% if item.is_saved %}
            <input hidden type="text" name="liked_status" value="saved" />
            <button type="submit" class="save-favourite-btn is-saved">
                {% else %}
                <input hidden type="text" name="liked_status" value="" />
                <button type="submit" class="save-favourite-btn">
                    {%endif%}
                    {% comment %} Zo kan je svgs inladen: {% endcomment %}
                    <span class="saved">
                        {% render 'svgs/favourites.svg' %}
                    </span>
                    <span class="not-saved">
                        {% render 'svgs/to-favourite.svg' %}
                    </span>
                </button>
        </form>

    </div>
    <h3 class="product-name">
        <a class="slug" href="/cadeau/{{ item.slug | url_encode }}">{{ item.name }}</a>
    </h3>
    <div class="whapper-spotter-gived-info">
        <div class="spotter-info">
            <img class="saved-spotters-img" src="/assets/persoons.svg" alt="spotters">
            <p class="product-saved">+30 saved</p>
        </div>
        <div class="spotter-info">
            <img class="gived-cadeau-img" src="/assets/cadeau.svg" alt="cadeau">
            <p class="product-gived">+4 gived</p>
        </div>
    </div>
</article>